.header {
  position: fixed;
  padding: 0 1rem;
  height: 5.6rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
  background-color: #f7eee0;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1240px; */
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header .nav-menu {
  overflow-x: scroll;
  overflow-y: hidden;
}

.header .nav-menu a {
  color: #444;
}

.header .navbar img {
  width: 7rem;
  height: auto;
}

.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.nav-item .active {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--primary-color);
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--primary-color);
}

.hamburger {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
  .header {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .header .navbar {
    flex-direction: column;
    /* height: 100rem; */
  }
  .header .navbar ul {
    padding: 1rem;
  }
  .header .navbar .nav-item {
    padding-bottom: 0;
  }

  .header .nav-menu {
    max-width: 25rem;
    height: 4rem;
    margin-top: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
  }

  .header .nav-menu li a {
    min-width: 10rem;
  }

  .header .nav-item {
    padding: 0;
    min-width: 7rem;
    text-align: center;
  }
}
