@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none !important;
}

:root {
  --bg-color: #fef2e1;
  --bg-two-color: #fffaf4;
  --primary-color: #bc0623;
  --secondary-color: #bf9a5c;
  --secondary-bege-color: #fae1b7;
  --third-color: #333;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-two-color);
  color: var(--secondary-color);

  scrollbar-face-color: ThreeDFace !important;
  scrollbar-shadow-color: ThreeDDarkShadow !important;
  scrollbar-highlight-color: ThreeDHighlight !important;
  scrollbar-3dlight-color: ThreeDLightShadow !important;
  scrollbar-darkshadow-color: ThreeDDarkShadow !important;
  scrollbar-track-color: Scrollbar !important;
  scrollbar-arrow-color: ButtonText !important;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

.btnUp {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
