.footer {
  background: #444;
  color: white;
  width: 100%;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.col-footer {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  height: 15rem;
  color: var(--primary-color);
}

.col-footer img {
  width: 15rem;
}

.col-footer h1 {
  font-size: 2rem;
  font-weight: 500;
}

.col-footer .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin: 2rem 0;
  color: var(--bg-color);
  transition: ease 0.3s;
}

.col-footer .contact:hover h2,
.col-footer .contact:hover .icon-footer {
  filter: brightness(0.9);
}

.col-footer .contact h2 {
  font-weight: 300;
}

.col-footer .contact .icon-footer {
  margin-right: 1rem;
  color: var(--secondary-color);
}

.content-dev {
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--bg-color);
  font-size: 0.8rem;
}

.content-dev h1 {
  font-weight: 200;
}

.content-dev a {
  color: var(--bg-color);
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 1rem;
  }

  .content-dev {
    padding: 2rem 0;
    font-size: 0.6rem;
  }
}
